<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Drum Chat</title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/form.css">
</head>
<body>
	<div class="container">
		<div class="box">
			<header class="header">
				<a href="/" class="logo">Drum Chat</a>
			</header>
			
			<form class="form" action="/join-room" method="post" accept-charset="utf-8">
				<legend class="legend">Join A Room</legend>
				<div class="field">
					<label class="label" for="name">Name</label>
					<input class="input" type="text" name="name" id="name" placeholder="enter your name" required="" value="" />
				</div>
				<div class="field">
					<label class="label" for="room-key">Room key</label>
					<input class="input" type="text" name="room-key" id="room-key" placeholder="enter room key" required="" value="" />
				</div>
				<button type="submit" class="btn">Join</button>
			</form>
		</div>
	</div>
</body>
</html>