*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	--primary-clr: linear-gradient(25deg, #385dec 0%, #9f10e6 100%);
	--bg-clr: #F3FAFF;
	--chat-clr: #dddddd;
	--surface-clr: #fff;
	--text-clr: #000;
	--heading-clr: #001939;
	--shadow-sm: 0 0 3px rgba(0,0,0,0.1);
	--shadow-lg: 0 0.5em 1em -0.125em rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.02);
	font-size: 16px;
	font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background: var(--bg-clr);
	color: var(--text-clr);
	height: 100vh;
	min-height: 0;
	overflow-x: hidden;
	line-height: 1.5;
}

h1, h2, h3, h4 {
	font-weight: 700;
	color: var(--heading-clr);
	line-height: 1.1;
}

a {
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: column;
	width: 95%;
	max-width: 75rem;
	margin: 1.2rem auto;
	padding: 0 1em;
}

.box {
	display: flex;
	flex-direction: column;
	height: 640px;
	background: var(--surface-clr);
	box-shadow: var(--shadow-lg);
	overflow: hidden;
}

.header {
	position: relative;
	height: 5rem;
	flex-shrink: 1;
	padding: 0.25em;
	border-bottom: 2px solid gray;
}

.logo {
	display: block;
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
	margin: 0;
	color: var(--primary-clr);
}


.btn {
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 700;
	padding: 0.75em 1.5em;
	border: none;
	background: var(--primary-clr);
	color: white;
	cursor: pointer;
}