*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	--primary-clr: linear-gradient(25deg, #385dec 0%, #9f10e6 100%);
	--bg-clr: #F3FAFF;
	--chat-clr: #dddddd;
	--surface-clr: #fff;
	--text-clr: #000;
	--heading-clr: #001939;
	--shadow-lg: 0 0.5em 1em -0.125em rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.02);
	--shadow-outline: 0 0 0 0.125em rgba(63,160,255,0.5);
	font-size: 16px;
	font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: var(--bg-clr);
	color: var(--text-clr);
	height: 100vh;
	overflow-x: hidden;
}

h1, h2, h3, h4 {
	font-weight: 700;
	color: var(--heading-clr);
}

.container {
	max-width: 75rem;
	margin: 1.2rem auto;
	padding: 0 1em;
}

.box {
	display: flex;
	flex-direction: column;
	height: 85vh;
	background: var(--surface-clr);
	box-shadow: var(--shadow-lg);
}

.header {
	position: relative;
	padding: 0.25em;
	border-bottom: 2px solid gray;
}

.logo {
	margin: 0;
	text-align: center;
}

.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
	width: 2em;
	height: 1.5em;
	padding: 0;
	background: none;
	border: none;
}

.hamburger div {
	width: 100%;
	height: 10%;
	background: var(--heading-clr);
}

.hamburger div:nth-child(2) {
	opacity: 0.5;
}


.info {
	display: none;
}

.splitter {
	display: flex;
	flex-grow: 1;
}

.splitter > * {
	flex-grow: 1;
}

.chat-area {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.25em 1em;
}

.chat-msg {
	margin: 0.25em 0;
	padding: 0.375em 1em;
	background: var(--chat-clr);
	border-radius: 1em;
}

.chat-msg-self {
	align-self: flex-end;
	color: white;
	background: var(--primary-clr);
}