.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
	width: 2em;
	height: 1.5em;
	padding: 0;
	background: none;
	border: none;
}

.hamburger div {
	width: 100%;
	height: 10%;
	background: var(--heading-clr);
	border-radius: 0.8rem;
}

.hamburger div:nth-child(2) {
	opacity: 0.5;
}

.splitter {
	display: flex;
	flex-grow: 1;
	height: 75vh;
	overflow: hidden;
}

.splitter > * {
	flex-grow: 1;
	padding: 0.25em 1em;
}

.info {
	flex-basis: 25%;
	overflow: auto;
}

.info .content > * {
	display: inline-block;
}

#members {
	font-size: 1.2rem;
}

#members > li + li {
	margin-bottom: 0.5em;
}

.chat-area {
	display: flex;
	flex-direction: column;
	flex-basis: 75%;
	position: relative;
	overflow: hidden;
}

.chat-feed {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: flex-start;
	overflow-y: auto;
}

.chat-msg {
	margin: 0.25em 0;
	padding: 0.375em 1em;
	background: var(--chat-clr);
	border-radius: 1em;
}

.chat-msg-self {
	align-self: flex-end;
	color: white;
	background: var(--primary-clr);
}

.system-msg {
	font-weight: 700;
	font-style: italic;
	margin: 0.25em 0;
	padding: 0.375em 1em;
	color: var(--heading-clr);
}

.sender {
	font-weight: 700;
	color: var(--heading-clr);
}

.chat-bar {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3.125rem;
	margin: 0;
	padding: 0;
	box-shadow: var(--shadow-sm);
	z-index: 999;
}

.chat-bar input {
	flex-grow: 1;
	padding: 0.25em 1em;
	border: none;
	background: #f2f3f5;
}

.chat-bar button {
	flex-grow: 0;
}

.hidden {
	display: none;
}

@media only screen and (min-width: 62rem) {
	.hamburger {
		display: none;
	}
	
	.hidden {
		display: block;
	}
	
	.chat-area {
		border-left: 2px solid gray;
	}
}